<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Kurssisivu{% endblock %}
{% block content %}
<h1>{{ course_name }}</h1>
<p>
    <h2>Kurssimateriaali</h2>
    {% if sections %}
        {% for section in sections %}
            <h3>{{ section["title"] }}</h3>
            <div class="fixed-width">
                {% for line in section.content_lines %}
                    {{ line | escape }}<br>
                {% endfor %}
            </div><br>
        {% endfor %}
    {% else %}
        <div class="fixed-width">
            <p>Opettaja ei ole vielä luonut kurssille sisältöä.</p>
        </div>
    {% endif %}
</p>

<h2>Monivalintatehtävät</h2>
<form action="/submit_answers" method="POST">
    <input type="hidden" name="course_id" value="{{ course_id }}">
    {% if tasks %}
    {% for task_id, task in tasks.items() %}    
    <div class="task-container">
        <h3 class="task-topic">{{ task.topic }}</h3>
        <ul class="choices-list">
            {% for choice in task.choices %}
                <li class="choice-item">
                    <label>
                        <input type="radio" name="task_{{ task_id }}" value="{{ choice.choice_id }}">
                        {{ choice.choice }}
                    </label>
                </li>
            {% endfor %}
        </ul>
        <br>
        <input type="hidden" name="task_id" value="{{ task.id }}">
        <input type="submit" value="Vastaa" name="submit_{{ task_id }}">
    </div>
    {% endfor %}
    
    {% else %}
    <div class="fixed-width">
        <p>Opettaja ei ole vielä luonut kurssille tehtäviä.</p>
    </div>
    {% endif %}
</form>
<br>
<div class="width">
    <a href="{{ url_for('student') }}">Etusivulle</a>
</div>

{% endblock %}

