<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Kurssisivu{% endblock %}
{% block content %}
<h1>Kurssisivu</h1>
<p>
    {% if sections %}
        {% for section in sections %}
            <strong>{{ section["title"] }}</strong>
            <div class="fixed-width">
                {% for line in section.content_lines %}
                    {{ line | escape }}<br>
                {% endfor %}
            </div><br>
        {% endfor %}
    {% else %}
        <p>Kurssilla ei ole vielä sisältöä</p>
    {% endif %}
</p>

<h2>Monivalintatehtävät</h2>
<form action="/submit_answers" method="POST">
    <input type="hidden" name="course_id" value="{{ course_id }}">
    {% if tasks %}
    {% for task_id, task in tasks.items() %}    
        <h3>{{ task.topic }}</h3>
        <ul style="list-style-type: none; padding-left: 10;"></ul>
            {% for choice in task.choices %}
                <li>
                    <label>
                        <input type="radio" name="task_{{ task_id }}" value="{{ choice.choice_id }}">
                        {{ choice.choice }} 
                    </label>
                </li>
            {% endfor %}
        </ul>
        <br>
        <input type="hidden" name="task_id" value="{{ task.id }}">
        <input type="submit" value="Vastaa" name="submit_{{ task_id }}">
        {% endfor %}
    {% else %}
        <p>Ei tehtäviä.</p>
    {% endif %}
</form>
<br>
<a href="{{ url_for('student') }}">Etusivulle</a>
<br>

{% endblock %}

