<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Muokkaa kappaletta{% endblock %}
{% block content %}
<h2>{{ course_name }} - {{ "Muokkaa kappaletta" if section else "Luo uusi kappale" }}</h2>

<div class="fixed-width">
    <form action="{{ url_for('edit_content', course_id=course_id, section_id=section.id if section else 0) }}" method="POST">
        <b>Ohje: Lisää kurssialueelle tekstikappaleita. Kirjoita ensimmäiseen kenttään kappaleen otsikko, ja toiseen kenttään kappaleen sisältö.</b><br><br>
        <label for="section_title">Kappaleen otsikko:</label><br>
        <input 
            type="text" 
            id="section_title" 
            name="section_title" 
            value="{{ section.title if section else '' }}" 
            required
        ><br><br>
        
        <label for="text_content">Kappaleen sisältö:</label><br>
        <textarea 
            id="text_content" 
            name="text_content" 
            rows="10" 
            cols="80" 
            required
        >{{ section.content if section else '' }}</textarea><br><br>
        
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <button type="submit">{{ "Päivitä kappale" if section else "Luo kappale" }}</button>
    </form>
</div>
<br>
<div class="width">
    <a href="{{ url_for('create_content', course_id=course_id) }}">Palaa kurssisivulle</a>
</div>
{% endblock %}
