<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Sisäänkirjautuminen{% endblock %}
{% block content %}

<h2>Kirjaudu sisään</h2>
<div class="fixed-width">
    <form action="/login" method="POST">
        Käyttäjätunnus: <br><input type="text" name="username">
        <p>
        Salasana: <br><input type="password" name="password">
        <p>
            <input type="submit" value="Kirjaudu">
    </form>
    Voit luoda uuden tunnuksen <a href="/register">tästä</a>
</div>
{% endblock %}