<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Rekisteröityminen{% endblock %}
{% block content %}

<h2>Luo tunnus</h2>
<div class="fixed-width">
        Ohje: <br>
        Käyttäjätunnuksen pituuden on oltava 3-20 merkkiä <br>
        Salasanan pituuden on oltava vähintään 6 merkkiä <br>
        Salasanan on sisällettävä kirjain, numero ja erikoismerkki <br><br>

    <form action="/register" method="POST">
        Anna käyttäjätunnus: <br><input type="text" name="username">
        <p>
        Anna salasana: <br><input type="password" name="password">
        <p>
        Anna salasana uudestaan: <br><input type="password" name="password2">
        <p>
        <label>
            <input type="radio" name="choice" value=1 checked>
            Opiskelija
        </label>
        <label>
            <input type="radio" name="choice" value=2>
            Opettaja
        </label>
        <p>
            <input type="submit" value="Luo tunnus">
    </form>
    Jos sinulla on jo tunnus, voit kirjautua sisään <a href="/login">tästä</a>
</div>
{% endblock %}

    